<h1>Pirate</h1>
<div class="pirate">
  <h2>"<%="#{@pirate.name}"%></h2>
  <h3>"<%="#{@pirate.weight}"%></h3>
  <h3>"<%="#{@pirate.height}"%></h3>

<% @ships.each do |ship|%>
<h2><%="#{ship.name}"%></h2>
<%end%>
