<h1>Pirate</h1>
<div class="pirate">
  <h2>"<%="#{@pirate.name.text}"%></h2>
  <h3>"<%="#{@pirate.weight.text}"%></h3>
  <h3>"<%="#{@pirate.height.text}"%></h3>
</div><br>

<% @ships.each do |ship|%>
<h2><%="#{ship.name}"%></h2>
<%end%>
